<div class="header">

    <div class="site-branding">
        <img src="../../../assets/images/brand-isotype.svg" alt="Site branding">
    </div>

    <div class="level">
        <h2>Level 1</h2>
    </div>

    <div class="reset" (click)="onResetClicked()">

        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path fill-rule="evenodd"
                d="M6 3a1 1 0 00-2 0v5a1 1 0 001 1h5a1 1 0 100-2H7.188c.086-.078.175-.157.269-.235C8.532 5.859 10.062 5 12 5a7 7 0 11-7 7 1 1 0 10-2 0 9 9 0 109-9C9.438 3 7.3 4.406 6 5.5V3z" />
        </svg>
        <p>Restart</p>

    </div>

</div>