.grid-tile {
    width: 24px;
    height: 24px;
    border: 1px solid var(--black-32);
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 700;
    font-size: 14px;

    &.filled {
        background: var(--primary);

        // &:hover {
        //     background: var(--primary-hover);
        // }
    }

    &:hover {
        background: var(--black-24);
    }
}
