<div class="game-dashboard">

    <div class="first-row">
        <div class="miniature"></div>

        <div class="number-cols">
            <div *ngFor="let col of puzzleModel?.cols">
                <app-number-tile class="app-number-tile" *ngFor="let value of col" [value]="value"></app-number-tile>
            </div>
        </div>
    </div>
    
    <div class="second-row">
        <div class="number-rows">
            <div *ngFor="let row of puzzleModel?.rows">
                <app-number-tile *ngFor="let value of row" [value]="value"></app-number-tile>
            </div>
        </div>
        
        <table>
            <tr *ngFor="let row of puzzleModel?.rows, let rowIndex = index">
                <td *ngFor="let col of puzzleModel?.cols, let colIndex = index">
                    <!-- [ngClass]="{'active' : puzzleModel.imageData[puzzleModel.width * rowIndex + colIndex] === 1}" -->
                    <app-grid-tile [x]="rowIndex" [y]="colIndex"></app-grid-tile>
                </td>
            </tr>
        </table>
    </div>
  
</div>