.game-dashboard {
  display: flex;
  flex-direction: column;
  max-width: 312px;
  justify-content: center;
  align-items: center;
  margin: 100px auto;
}

.first-row, .second-row {
  display: flex;
}

.miniature {
  width: 72px;
  height: 72px;
}

table {
    border-collapse: collapse;
    border: 1px solid var(--black-32);
}

td {
    padding: 0;
    box-sizing: border-box;
}

.number-cols {
  display: flex;
  align-items: flex-end;
  box-sizing: border-box;
  border: 1px solid #000;

  div {
    box-sizing: border-box;
    border: 1px solid #000;
    width: 24px;
    height: 100%;
  }
}

.number-rows {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  div {
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;
    height: 24px;
  }
}